{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  {% for img in image %}
  <h2 class="text-center">{{img.image_name}}</h2><hr><br>
  <div class="card2">
    <img style="margin:5px;" src="{{img.image.url}}" class="img-responsive" alt="Image">
    </div><br><br>
    <div class="card3">
      <h5><strong>{{img.category}}</strong></h5>
    <p >{{img.description}} </p><br>
    <p class="end">taken in {{img.location}}</p>
    </div>
    {% endfor %}
    </div>
    <div class="col-md-1"></div>
</div>
<div class="footer">
    <h4 class="text-center">Austin</h4>
    
  </div>
{% endblock %}
